* {
	font-family: 'Open Sans';
}

/** fonts **/
.light {
	font-family: 'Open Sans';
	font-weight: 300;
}

.semi-bold{
	font-family: 'Open Sans';
	font-weight: 400;
}

.bold {
	font-family: 'Open Sans';
	font-weight: 800;
}
.blue {
	color:#0021b7; /**#5b60d5**/
}

/** textarea **/
.editor{
	position: absolute;
	top: 130px;
	bottom: 0;
	width: 100%;

	border: none;
	outline: none;

	font-family: 'Courier New', Courier, monospace;
}

/** iframe **/
.result{
	box-sizing:border-box;
	background-color:#F1F1F1;
	border: 2px solid black;
	border-radius:12px;
}

/** share button **/
.share{
display:inline-block;
padding:0.4em 1.2em;

border:0.1em solid white;
margin:0 0.3em 0.3em 0;
border-radius:5em;
box-sizing: border-box;
text-decoration:none;
font-family:'Open Sans',sans-serif;
font-weight:400;
background-color:#0021b7;
color:#FFFFFF;
text-align:center;
transition: all 0.25s;
-webkit-transition: all 0.25s;
cursor:pointer;
}
.share:hover{
color:#000000;
background-color:#F1F1F1;
box-sizing: border-box;
border:0.1em solid black;
}
@media all and (max-width:30em){
.share{
display:block;
margin:0.4em auto;
}
}
.share.red{
	background-color:#d84224;
}
.share.white{
	background-color:white;
	color:#0021b7;
	border:none;
	font-size:2em;
	padding:0px;
	transition:all 0.35s;
	-webkit-transition: all 0.35s;
	position:absolute;
	right:1vw;
	top:2.5vh;
}
.white:hover{
	border:none;
	color:black;
}
.red:hover{
color:#000000;
background-color:#F1F1F1;
box-sizing: border-box;
border:0.1em solid black;
}

@media only screen and (max-width: 800px) {
    .bigscreen {
        display:none;
				overflow:hidden;
    }
		.smallscreen {
        display:block;
    }

		.spinner > div {
		  width: 7vw;
		  height: 7vw;
		  background-color: white;

		  border-radius: 100%;
		  display: inline-block;
		  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}
}

@media only screen and (min-width: 801px) {
    .bigscreen {
        display:block;
    }

		.spinner > div {
		  width: 2vw;
		  height: 2vw;
		  background-color: white;

		  border-radius: 100%;
		  display: inline-block;
		  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}
		.smallscreen {
        display:none;
    }
}

.small{
	text-align:center;
}

.small.title{
	font-size:5em;
}

.small.subtitle{
	font-size:1.2em;
}

input{
	display:none;
}

.ad{
	background-color:#F1F1F1;
	text-align:center;
	margin:auto;
	width:60%;
	border:3px solid #0021b7;
	border-radius:15%;
	padding:35px;
}

/** Loading Bar **/

.spinner {
	position: absolute;
	top: 45vh;
	left: 37.5vw;
	width: 25vw;
	text-align: center;
	-webkit-transition: filter 1s, opacity 1s;
	transition: filter 1s, opacity 1s;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#spinnerOverlay{
	background-color:#00167a;
	margin:0;
	z-index:10;
	transition: filter 1s, z-index 0s 0.85s, opacity 1s;
	-webkit-transition: filter 1s, z-index 0s 0.85s, opacity 1s;

	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#info{
	position:absolute;
	display:none;
	top:0;
}

body{
	overflow:hidden;
}

.popup-wrapper{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

#popup{
	width: 25vw;
	height: 25vh;
	background-color: white;
	z-index: 50;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
